program: assignment1-basics/cs336_basics/training/pretrain.py
project: AtlasLM-Pretrain
method: grid
metric:
  name: val/loss
  goal: minimize

command:
  - ${env}
  - ${interpreter}
  - ${program}
  - ${args}

parameters:
  # Sweep parameter - learning rate
  learning_rate:
    values: [3.0e-4, 6.0e-4, 1.0e-3]
  d_model:
    value: 256
  num_heads:
    value: 4
  d_ff:
    value: 1024
  num_layers:
    value: 4
  vocab_size:
    value: 100000
  context_length:
    value: 256
  theta:
    value: 10000.0

  batch_size:
    value: 8
  max_iters:
    value: 1500
  eval_interval:
    value: 10
  eval_iters:
    value: 10
  log_interval:
    value: 10
  checkpoint_interval:
    value: 50 
  seed:
    value: 42

  optimizer:
    value: adamw
  min_lr:
    value: 6.0e-5
  weight_decay:
    value: 0.01
  beta1:
    value: 0.9
  beta2:
    value: 0.999
  gradient_clip_norm:
    value: 1.0
  warmup_iters:
    value: 2000
  cosine_iters:
    value: 100000

  train_data:
    value: /Users/shawnspitzel/cs336/cs326/assignment1-basics/cs336_basics/data/tokenized/tinystories/train/TinyStoriesV2-GPT4-train_tokens_.bin
  val_data:
    value: /Users/shawnspitzel/cs336/cs326/assignment1-basics/cs336_basics/data/tokenized/tinystories/val/TinyStoriesV2-GPT4-valid_val_tokens_.bin
  data_dtype:
    value: uint16

  checkpoint_dir:
    value: /Users/shawnspitzel/cs336/cs326/assignment1-basics/cs336_basics/checkpoints/model/gpt4-small-tinystories
    
  resume_from:
    value: null

  device:
    value: cpu
  compile:
    value: false